*{
	padding:0;
	margin:0;
	list-style-type:none;
}
html, body{ min-width: 961px;}
.acessibilidade {
	width:1px;
	height:1px;
	display:block;
	text-indent:-999999px;
	overflow:hidden;
	position:absolute;
}
h1, h2, h3, h4{
	font-style: normal;
	font-weight: normal;
	font-family: 'opens', sans-serif;
	font-size: 18px;
	outline: none;
}
a, h1, h2, h3, h4, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, label { display: block;}
a{
	text-decoration: none;
	color: #262626;
	outline: none;
}
a:hover, a:focus{ background-position:left bottom;}
a.ativo{ background-position:left bottom;}
a.link{ display:inline;}
a:hover.link, a:focus.link{ text-decoration:underline; }
.hidetxt{ text-indent:-99999px; overflow:hidden;}
p{ padding-bottom: 20px; line-height: 18px;}
img{ border: none;}
.left{ float: left;}
.right{ float: right;}
.img-left{ float: left; margin: 0 15px 10px 0;}
@font-face {
    font-family: 'opens';
    src: url('../fonts/opensans-semibold_0-webfont.eot');
    src: url('../fonts/opensans-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold_0-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold_0-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold_0-webfont.svg#opens') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'openr';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#openr') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	color: #262626;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #71ae92;
}

/*** HOME ***/
.bg-home{ width: 100%; display: table; background: #e5e5e5 url(../img/bghome.jpg) center top no-repeat;}
header{
	width: 961px;
	height: 142px;
	margin: 0 auto;
}
header h1{
	width: 223px;
	height: 129px;
	float: left;
	padding-top: 13px;
}
header h1 a{
	width: 200px;
	height: 119px;
	background-image: url(../img/logo.png); 
}
.telefone{
	width: 338px;
	height: 49px;
	float: right;
	padding-top: 7px;
}
#google_translate_element, #google_translate_element img{ float: left;}
.goog-te-gadget-simple{ width: 173px;}
.goog-te-gadget-simple .goog-te-menu-value span{ padding-right: 5px;}
header .tel{
	width: 112px;
	float: right;
	color: #292929;
	font-size: 15px;
	font-family: 'openr', sans-serif;
}
header .tel{ padding: 5px 0 0 27px; background: url(../img/icontel.png) 0 3px no-repeat;}
header .tel span{ font-size: 13px;}
#navMenu .pdg-right{ padding-right: 0;}
#navMenu{
	width: 737px;
	height: 32px;
	float: right;
	padding-top: 2px;
}
#navMenu li{
	float: left;
	padding-right: 4px;
	position: relative;
	z-index: 999999;
}
#navMenu li a{
	height: 25px;
	text-align: center;
	color: #006231;
	font-size: 14px;
	font-family: 'opens', sans-serif;
	padding-top: 7px;
	background-image: url(../img/menu.png); 
}
#navMenu li a[title="Home"]{ width: 68px; background-position: 0 0;}
#navMenu li a:hover[title="Home"], #navMenu li a:focus[title="Home"], #navMenu li a.ativo[title="Home"]{ color: #ececec; background-position: 0 -32px;}
#navMenu li a[title="Empresa"]{ width: 87px; background-position: -72px 0;}
#navMenu li a:hover[title="Empresa"], #navMenu li a:focus[title="Empresa"], #navMenu li a.ativo[title="Empresa"]{ color: #ececec; background-position: -72px -32px;}
#navMenu li a[title="Produtos"]{ width: 88px; background-position: -164px 0;}
#navMenu li a:hover[title="Produtos"],
#navMenu li a:focus[title="Produtos"],
#navMenu li a.ativo[title="Produtos"],
#navMenu li a.current-menu[title="Produtos"]{
	color: #ececec; background-position: -164px -32px;}
#navMenu li a[title="Portolio"]{ width: 87px; background-position: -255px 0;}
#navMenu li a:hover[title="Portolio"], #navMenu li a:focus[title="Portolio"], #navMenu li a.ativo[title="Portolio"]{ color: #ececec; background-position: -255px -32px;}
#navMenu li a[title="Notícias"]{ width: 82px; background-position: -346px 0;}
#navMenu li a:hover[title="Notícias"], #navMenu li a:focus[title="Notícias"], #navMenu li a.ativo[title="Notícias"]{ color: #ececec; background-position: -346px -32px;}
#navMenu li a[title="Representantes"]{ width: 132px; background-position: -432px 0;}
#navMenu li a:hover[title="Representantes"], #navMenu li a:focus[title="Representantes"], #navMenu li a.ativo[title="Representantes"]{ color: #ececec; background-position: -432px -32px;}
#navMenu li a[title="Clientes"]{ width: 83px; background-position: -568px 0;}
#navMenu li a:hover[title="Clientes"], #navMenu li a:focus[title="Clientes"], #navMenu li a.ativo[title="Clientes"]{ color: #ececec; background-position: -568px -32px;}
#navMenu li a[title="Contato"]{ width: 82px; background-position: -655px 0;}
#navMenu li a:hover[title="Contato"], #navMenu li a:focus[title="Contato"], #navMenu li a.ativo[title="Contato"]{ color: #ececec; background-position: -655px -32px;}
#navMenu li ul.sub{
	width: 385px;
	height: 137px;
	display: block;
	padding: 20px 0 0 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #004d27;
	position: absolute;
	left: 0;
	top: 32px;
	z-index: 999999;
}
#navMenu li ul.sub li{
	width: 177px;
	float: left;
	padding: 0 0 10px 0;
	position: none;
}
#navMenu li ul.sub li a{
	height: inherit;
	padding: 0 0 0 10px;
	color: #ececec;
	text-align: left;
	font-size: 12px;
	background: url(../img/ball.jpg) 0 5px no-repeat;
}
#content{ width: 961px; margin: 0 auto;}
#slide-home{
	width: 679px;
	height: 295px;
	float: left;
	position: relative;
	z-index: 999;
	background: url(../img/bgslide.jpg) left bottom no-repeat;
}
.slides_container{
	width: 679px;
	height: 264px;
	overflow: hidden;
}
.slide{
	width: 679px;
	height: 264px;
	display: block;
}
#slide-home .pagination{
	width: 128px;
	height: 18px;
	position: absolute;
	left: 533px;
	top: 240px;
	z-index: 9999;
	padding: 6px 0 0 18px;
	background: url(../img/bgnav.png) 0 0 no-repeat;
}
#slide-home .pagination li{
	height: 10px;
	float: left;
	overflow: hidden;
	margin-right: 5px;
}
#slide-home .pagination li a{
	width: 16px;
	height: 10px;
	overflow: hidden;	
	text-indent:-999999px;
	background-image: url(../img/pagnav.jpg);
}
#slide-home .pagination li.current a,
#slide-home .pagination li a:hover,
#slide-home .pagination li a:focus { background-position:0 -10px;}
.lancamentos{
	width: 269px;
	height: 282px;
	float: right;
	cursor: pointer;
	background: url(../img/bglanca.jpg) 0 0 no-repeat;
}
.lancamentos h2{
	text-align: center;
	color: #fafafa;
	font-size: 16px;
	padding: 15px 0 14px 0;
}
.lancamentos img{ margin-bottom: 10px;}
.lancamentos a{
	width: 144px;
	height: 27px;
	margin: 0 auto;
	color: #fafafa;
	font-size: 16px;
	font-family: 'opens', sans-serif;
	padding: 10px 0 0 55px;
	background-image: url(../img/btconf.jpg); 
}
.lancamentos:hover a, .lancamentos:focus a{ background-position: left bottom;}
.produtos{
	width: 961px;
	float: left;
}
.produtos li{
	width: 225px;
	height: 184px;
	float: left;
	margin: 0 20px 11px 0;
	cursor: pointer;
	background: url(../img/btprod.png) 0 0 no-repeat;
}
.produtos li img{ margin-bottom: 10px;}
.produtos li a{
	text-align: center;
	font-size: 14px;
	font-family: 'opens', sans-serif;
}
#content .sem-mrg-right{ margin-right: 0;}
.produtos li:hover a, .produtos li:focus a{ color: #fafafa;}
.produtos li:hover, .produtos li:focus{ background-position: 0 -184px;}
.home-bottom{
	width: 961px;
	height: 90px;
	display: block;
	float: left;
	padding-top: 35px;
}
.bt-repr{
	width: 287px;
	float: left;
	line-height: 23px;
	padding-top: 5px;
}
.bt-repr a{ font-size: 18px; font-family: 'opens', sans-serif;}
.bt-repr a span{ text-transform: uppercase; color: #006231;}
.trabalhe{
	width: 156px;
	height: 73px;
	float: right;
}
.trabalhe h3 a{
	text-transform: uppercase;
	color: #006231;
	font-size: 20px;
}
.trabalhe p{ font-family: 'opens', sans-serif;}

/* EMPRESA */
.bg-int{
	width: 100%;
	display: table;
	background: #e9e9e9 url(../img/bgint.jpg) center top no-repeat;
}
header .logo{
	width: 223px;
	height: 129px;
	float: left;
	padding: 13px 0 0 0;
}
header .logo a{ width: 200px; height: 119px;}
.cont-right{
	width: 718px;
	float: right;
	position: relative;
}
.nav-empresa{
	width: 100%;
	height: 48px;
	float: left;
	margin-bottom: 15px;
	background: url(../img/sombramenu.jpg) left bottom no-repeat;
}
.nav-empresa li{ float: left; padding-right: 5px;}
.nav-empresa li a{
	width: 167px;
	height: 27px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-color: #e1e1e1;
	text-align: center;
	font-size: 16px;
	font-family: 'opens', sans-serif;
	padding-top: 6px;
}
.nav-empresa li a:hover, .nav-empresa li a:focus, .nav-empresa li.active a{
	color: #fafafa; background: url(../img/repeatnav.jpg) center top repeat-x;}
.confira-produto{
	width: 260px;
	height: 88px;
	padding: 27px 0 40px 157px;
	margin: 0 auto;
	cursor: pointer;
	clear: both;
	background: url(../img/bgprod.jpg) 0 0 no-repeat;
}
.confira-produto a{ color: #006231; font-size: 15px;}
.confira-produto p{
	width: 146px;
	height: 21px;
	margin: 10px 0 0 20px;
	padding: 3px 0 0 0;
	font-size: 14px;
	color: #006231;
	font-family: 'openr', sans-serif;
	text-align: center;
	background: url(../img/btport.jpg) left top no-repeat;
}
.confira-produto:hover p, .confira-produto:focus p{
	color: #fafafa; background: url(../img/btport.jpg) left bottom no-repeat;}
.lista{ padding-bottom: 10px;}
.lista li{
	padding: 0 0 7px 8px;
	line-height: 18px;
	background: url(../img/ballgray.jpg) 0 6px no-repeat;
}
.galeria{
	width: 718px;
	display: block;
	float: left;
	padding-bottom: 15px;
}
.galeria h2{
	width: 66px;
	height: 92px;
	float: left;
	font-size: 14px;
	font-family: 'opens', sans-serif;
	text-align: right;
	padding: 40px 20px 0 0;
	background: url(../img/seta.jpg) right 20px no-repeat;
}
.galeria ul{ width: 629px; float: left;}
.galeria ul li{
	width: 114px;
	height: 127px;
	float: left;
	padding-left: 11px;
}
.galeria ul li a{ width: 114px; height: 86px;}
.galeria ul li span{
	width: 114px;
	height: 23px;
	display: block;
	color: #fafafa;
	text-align: center;
	font-family: 'Verdana', sans-serif;
	font-size: 11px;
	padding-top: 5px;
	background-color: #006231;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
aside{ width: 215px; float: left;}
aside p{
	width: 215px;
	height: 39px;
	padding: 15px 0 0 0;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	font-size: 20px;
	font-family: 'opens', sans-serif;
	font-weight: 600;
	text-align: center;
	color: #fafafa;
	background: url(../img/repeatprod.jpg) center top repeat-x;
}
aside nav{ width: 215px; background: url(../img/repeataside.jpg) center top repeat-y;}
aside nav ul{
	width: 215px;
	padding: 20px 0 82px 0;
	background: url(../img/bottom.jpg) center bottom no-repeat;
}
aside nav ul li{
	width: 175px;
	margin: 0 auto;
	padding-bottom: 5px;
}
aside nav ul li a{
	width: 175px;
	height: 25px;
	text-align: center;
	color: #006231;
	font-size: 14px;
	font-family: 'opens', sans-serif;
	padding-top: 7px;
	background-image: url(../img/btnav.png); 
}
aside nav ul li a[title="Estruturas Metálicas"]{ height: 39px; background-image: url(../img/btnav1.png); }
aside nav ul li a:hover, aside nav ul li a:focus, aside nav ul li a.ativo{ color: #fafafa; background-position: left bottom;}
aside img{ padding: 0 0 30px 7px;}

/* PRODUTOS */
#content .cont-right h1{ padding-bottom: 15px;}
a[title="Voltar"]{
	width: 92px;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	background-image: url(../img/btvoltar.jpg); 
}
.lista-produtos{
	width: 718px;
	float: left;
	padding-bottom: 15px;
}
.lista-produtos li{
	width: 128px;
	height: 204px;
	float: left;
	margin: 0 35px 20px 0;
	border-radius: 6px;
	border: 1px solid #c5c5c5;
	padding: 11px 11px 0 11px;
	text-align: center;
	font-size: 11px;
	cursor: pointer;
}
.lista-produtos li img{ border: 1px solid #c5c5c5; margin-bottom: 7px;}
.lista-produtos li a{ height: 41px;}
.lista-produtos li p{
	width: 113px;
	height: 18px;
	display: block;
	padding: 2px 0 0 0;
	margin: 0 auto;
	color: #FFF;
	font-size: 13px;
	font-family: 'openr', sans-serif;
	background: url(../img/btdeta.jpg) 0 0 no-repeat;
}
.lista-produtos li:hover p{ background-position: 0 -20px;}

/* PRODUTO DETALHE */
#bread{
	color: #006231;
	height: 40px;
	padding-top: 5px;
}
.fotos{
	width: 231px;
	height: 303px;
	float: left;
	border: 2px solid #006231;
	margin: 0 25px 10px 0;
	background-color: #FFF;
}
.img-grande{
	width: 231px;
	height: 233px;
	border-bottom: 2px solid #006231;
	/*vertical-align: middle;
    display: table-cell;*/
}
/*#content .img-grande img{ margin: 0 auto; display: table-cell;}*/
.jcarousel-skin-fotos .jcarousel-container { width: 197px; padding: 8px 0 0 34px;}
.jcarousel-skin-fotos .jcarousel-clip { width: 197px; overflow: hidden;}
.jcarousel-skin-fotos .jcarousel-clip-horizontal  { width: 171px;}
.jcarousel-skin-fotos .jcarousel-item {
	width: 45px;
	height: 45px;
	display: block;
    float: left;
    margin-right: 8px;
    border: 2px solid #006231;
}
.jcarousel-skin-fotos .jcarousel-next-horizontal {
    width: 15px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 19px;
    cursor: pointer;
    background-image: url(../img/next.jpg);
}
.jcarousel-skin-fotos .jcarousel-prev-horizontal {
    width: 15px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 19px;
    cursor: pointer;
    background-image: url(../img/prev.jpg);
}
.jcarousel-skin-fotos .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-fotos .jcarousel-next-horizontal:hover{ 
	background-position:left bottom;}
.jcarousel-skin-fotos .jcarousel-next-disabled-horizontal,
.jcarousel-skin-fotos .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-fotos .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-fotos .jcarousel-next-disabled-horizontal:active { 
	cursor: default;
	opacity: 0.5;
	background: url(../img/next.jpg) left top no-repeat;}
.jcarousel-skin-fotos .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-fotos .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-fotos .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-fotos .jcarousel-prev-disabled-horizontal:active { 
	cursor: default;
	opacity: 0.5;
	background:  url(../img/prev.jpg) left top no-repeat;}
.cont-bottom{ width: 718px; float: left;}









/* FOOTER */
.bg-rodape{
	width: 100%;
	height: 68px;
	float: left;
	padding-top: 29px;
	background: url(../img/bgroda.jpg) center top repeat-x;
}
footer{ width: 961px; margin: 0 auto;}
address{
	width: 438px;
	float: left;
	font-style: normal;
	line-height: 18px;
	color: #1e1e1e;
	font-family: 'openr', sans-serif;
}
.logo-footer{
	width: 120px;
	height: 45px;
	float: left;
	text-indent: -999999px;
	background: url(../img/repume-iluminacao.jpg) 0 0 no-repeat;
}
div[itemprop="address"]{ padding-top: 10px;}
footer ul{
	width: 523px;
	float: right;
}
footer ul li{
	height: 39px;
	float: left;
	padding: 13px 13px 0 51px;
	font-family: 'openr', sans-serif;
	font-size: 12px;
}
footer ul li.tel{ background: url(../img/icontel.jpg) 0 0 no-repeat;}
footer ul li.fax{ background: url(../img/iconfax.jpg) 0 0 no-repeat;}
footer ul li.email{ background: url(../img/iconmail.jpg) 0 0 no-repeat;}