*{
	padding:0;
	margin:0;
	list-style-type:none;
}
html, body{ min-width: 961px;}
.acessibilidade {
	width:1px;
	height:1px;
	display:block;
	text-indent:-999999px;
	overflow:hidden;
	position:absolute;
}
h1, h2, h3, h4{
	font-style: normal;
	font-weight: normal;
	font-family: 'opens', sans-serif;
	font-size: 18px;
	outline: none;
}
a, h1, h2, h3, h4, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, label { display: block;}
a{
	text-decoration: none;
	color: #262626;
	outline: none;
}
a:hover, a:focus{ background-position:left bottom;}
a.ativo{ background-position:left bottom;}
a.link{ display:inline;}
a:hover.link, a:focus.link{ text-decoration:underline; }
.hidetxt{ text-indent:-99999px; overflow:hidden;}
p{ padding-bottom: 20px; line-height: 18px;}
img{ border: none;}
.left{ float: left;}
.right{ float: right;}
.img-left{ float: left; margin: 0 15px 10px 0;}
@font-face {
    font-family: 'opens';
    src: url('../fonts/opensans-semibold_0-webfont.eot');
    src: url('../fonts/opensans-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold_0-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold_0-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold_0-webfont.svg#opens') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'openr';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#openr') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	color: #262626;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	background: url(../img/repeat.jpg) center top repeat;

}

/*** HOME ***/
.bg-home{
	width: 100%;
	display: table;
	background: #e5e5e5 url(../img/bghome.jpg) center top no-repeat;
}
#wrap{ width: 960px; margin: 0 auto;}
header{
	width: 327px;
	height: 119px;
	float: right;
	padding: 9px 0 0 417px;
}
#google_translate_element, #google_translate_element img{ float: left;}
.goog-te-gadget-simple{ width: 173px;}
.goog-te-gadget-simple .goog-te-menu-value span{ padding-right: 5px;}
header .tel{
	width: 112px;
	float: right;
	color: #292929;
	font-size: 15px;
	font-family: 'openr', sans-serif;
}
header .tel{ padding: 5px 0 0 27px; background: url(../img/icontel.png) 0 3px no-repeat;}
header .tel span{ font-size: 13px;}
aside{
	width: 215px;
	float: left;
	margin-bottom: 30px;
	position: relative;
	z-index: 99999999999999;
}
aside h1{
	width: 200px;
	height: 119px;
	padding: 20px 0 57px 15px;
}
aside h1 a{
	width: 200px;
	height: 119px;
	background-image: url(../img/logo.png);
	outline: 0;
}
